<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<!--<div th:if="${#authorization.expression('isAuthenticated()')}">
     Print the username
    <p th:text="${#authentication.name}"></p>
</div>-->
<h2>Login</h2>

<form action="/login" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>

    <p th:if="${loginError}" class="error">Wrong user or password</p>
    <button type="submit">Login</button>
</form>

</body>
</html>
